TZ=Asia/Manila

MYSQL84_ROOT_PASSWORD=ABC12abc
MYSQL84_BIND_ADDRESS=127.0.0.1
MYSQL84_PORT=3306

MYSQL80_ROOT_PASSWORD=ABC12abc
MYSQL80_BIND_ADDRESS=127.0.0.1
MYSQL80_PORT=33060

POSTGRES18_DB=app
POSTGRES18_USER=app
POSTGRES18_PASSWORD=ABC12abc
POSTGRES18_BIND_ADDRESS=127.0.0.1
POSTGRES18_PORT=5432
POSTGRES18_MAX_CONNECTIONS=100
POSTGRES18_SHARED_BUFFERS=256MB
POSTGRES18_EFFECTIVE_CACHE_SIZE=768MB
POSTGRES18_LOG_MIN_DURATION_STATEMENT=1000

VALKEY_PASSWORD=ABC12abc
VALKEY_BIND_ADDRESS=127.0.0.1
VALKEY_PORT=6379
